# =============================================================================
# C O P Y R I G H T
# -----------------------------------------------------------------------------
# Copyright (c) 2020-2023 by Helmut Konrad Schewe. All rights reserved.
# This file is property of Helmut Konrad Schewe. Any unauthorized copy,
# use or distribution is an offensive act against international law and may
# be prosecuted under federal law. Its content is company confidential.
# =============================================================================

pdfminer.six>=20221105
# Image extractor
Pillow>=9.3.0<10.0.0 # noauto
# Table Extractor
camelot_py>=0.10.1<1.0.0

# Internal packages
utila>=2.105.0<3.0.0
configo>=0.25.5<1.0.0
iamraw>=4.91.0<5.0.0
protocol>=3.20.2<4.0.0
ghost>=0.9.1<1.0.0
pdfinfo>=0.2.0<1.0.0
